@tailwind base;
@tailwind components;
@tailwind utilities;

/* For webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4583e7; /* color of the scrollbar thumb */
    border-radius: 15px; /* roundness of the scrollbar thumb */
  }

  *::selection {
    background: #4583e7;
    color: white !important;
  }
  
  
  .dark {
    --color-bg-primary: #11161e;
    --color-bg-secondary: #283141;
    --color-text-primary: #dbdbdb;
    --color-border-primary: #6f6f6f;
    --color-text-secondary: #e2e8f0;
  }
  
  .light {
    --color-bg-primary: #e9e9e9;
    --color-bg-secondary: #edf2f7;
    --color-text-primary: #2d3748;
    --color-border-primary: #d0d0d0;
    --color-text-secondary: #4a5568;
  }
  
  /* Define custom utility classes */
  @layer components {
    .bg-primary {
      background-color: var(--color-bg-primary);
    }
  
    .text-primary {
      color: var(--color-text-primary);
    }
  
    .border-primary {
      border-color: var(--color-border-primary);
    }
  }
  
  :root {
    @apply bg-primary text-primary;
  }

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}


/* MainPage.css */

.mainpage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('./assets/main.jpg'); /* Ensure the correct path to your image */
  background-size: cover;
  background-position: center;
}

.mainpage-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63); /* Adjust opacity */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 125px;
  width: 150px;
  margin-bottom: 20px;
}

.typed-container {
  height: 2.5rem; 
  margin-bottom: 2.5rem;
}

.typed-text {
  font-size: 2rem;
  font-weight: bold;
}

.cta-button {
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #4583e7;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.primary {
  color: #4583e7;
}


/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .typed-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .typed-text {
    font-size: 1.2rem;
  }
}
